
.wrap {
    width: 100%;
    overflow:auto;
}

.infoLeft {
    float:left; 
    width: 45%;
    height: auto;
	padding-left:5px;
	padding-right:5px;
	padding-top:0px;
}

.fcenter{
    float:left;
    width: 5px;
    height:auto;
    margin-left:30px;
	margin-top:-10px;
}

.infoRight {
	float: right;
    height: auto;
    width: 45%;
	padding-left:5px;
	padding-right:5px;
	padding-top:0px;
}

td
{
	height:auto;
	font-size: 20px;
	color : #545950;
	width : auto;
}

.tdl 
{
	font-size:15px;
	font-style:italic;
	color: #b2b2b2;
	width : 75px;
}

.iframeWrapper
{
	text-align:center;
	width:100%;
}


