@font-face {
	font-family: Ikaros;
	src: url("Data/Ikaros.otf");
}

body {
	background-image : url("Data/background.png");
	background-repeat : repeat;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px
}

.Header {
	width: 100%;
	height: 260px;

	background-color:rgba(0, 0, 0, 0.05);
	color : #545950;
	font-family : "Ikaros";
	font-size: 110px;
	text-align: center;
	padding-top: 30px;
}

.SubHeader {
	font-size: 20px;
}

a 
{
	text-decoration: none;
	color : #545950;
}

.NavBar
{
	padding-top:50px;
	font-family : "Ikaros";
	font-size: 20px;
	color : #545950;
}

.NavBarItem
{
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	color : #545950;
}

.bodyContainer
{
	padding-top : 25px;
	padding-bottom : 25px;
	padding-left : 25px;
	padding-right : 25px;
	font-family : "Ikaros";
	/*background-color: #f1f1f1;*/
	color: #606060;
	width: 850px;
	margin: 0 auto;
}

.PageHeader
{
	text-align: center;
	font-size: 40px;
	text-decoration: bold;
	color : #545950;
}

.PageSubHeader
{
	text-align: center;
	font-size: 30px;
	padding-top:20px;
	color : #545950;
}

.PageContent
{
	background-color : rgba(202, 235, 242, 0.5);
	text-align: left;
	font-size: 20px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	color : #545950;
}

.footer
{
	font-family : "Ikaros";
	text-align: center;
	height: 30px;
	margin: 0 auto;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}


