body
{
	font-family: 'Open Sans', sans-serif;
	color: #DCD6F7;
	background-color: #4E4C67;

	padding: 0;
	margin: 0;
}

a
{
	text-decoration: none;
}

.NavigationLink
{
	color:inherit;
	text-decoration: none;
	border-bottom: 1px solid #DCD6F7;
	padding-bottom: 3px;
}

.NavigationLink:hover
{
	color:#A6B1E1;
	border-bottom: 1px solid #A6B1E1;
	padding-bottom: 3px;
}


.anchor{
  display: block;
  height: 30px; /*same height as header*/
  margin-top: -30px; /*same height as header*/
  visibility: hidden;
}

h1
{
	text-align: center;
	width:100%;
	color: #A6B1E1;
	height: 75px;
	line-height: 75px;
}

h2
{
	margin-top: 0px;
	text-align: center;
	width:100%;
	color: #A6B1E1;
	height: 75px;
	line-height: 75px;
	margin-top: 0;
	margin-bottom: 0;
}


@media only screen and (max-width: 376px)
{
	h1
	{
		text-align: center;
		width:100%;
		color: #A6B1E1;
		height: 75px;
		font-size: 25px;
		line-height: 75px;
	}
}

.HeaderBar
{
	position: fixed;
	z-index: 99;
	height: 500px;
	width: 100%;
	padding: 0;
	margin: 0;
	color: #DCD6F7;
	background-color: #985F6F;
}

@media only screen and (max-width: 376px)
{
	.HeaderBar
	{
		position: fixed;
		z-index: 99;
		height: 0px;
		width: 100%;
		padding: 0;
		margin: 0;
		color: #DCD6F7;
		background-color: #985F6F;
	}
}

.HeaderJIImage
{
	opacity: 0.0;
	position: fixed;	
	padding-left: 10px;
	padding-top: 5px;
	height: 50px;
}


@media only screen and (max-width: 376px)
{
	.HeaderJIImage
	{
		opacity: 0.0;
		width: 0;
		height: 0;
	}
}


.HeaderJIName
{
	font-family: 'Roboto Slab', serif;
	opacity: 1.0f;
	text-align: center;
	font-size: 100px;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 376px)
{
	.HeaderJIName
	{
		font-family: 'Roboto Slab', serif;
		opacity: 1.0f;
		text-align: center;
		font-size: 50px;
		position: relative;
		float: left;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.HeaderNavigation
{
	right: 0;
	bottom: 0;
	position: absolute;
	padding-bottom: 15px;
	padding-right: 5%;
}

@media only screen and (max-width: 376px)
{
	.HeaderNavigation
	{
		right: 0;
		width: 100%;
		bottom: 0;
		position: absolute;
		padding-bottom: 0;
		padding-right: 0;
	}
}

.HeaderNavigationBlock
{
	height:50px;
	padding-left: 50px;
}

@media only screen and (max-width: 376px)
{
	.HeaderNavigationBlock
	{
		width: calc(100% / 3.1);
		height:40px;
		padding-left: 0;
		display: inline-block;
		text-align: center;
	}
}

.Content
{
	text-align: center;
}

.SMGLogoIMG
{
	display: block;
    margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
}

.ContactLogo
{
	width: 50px;
	height: 50px;
}

@media only screen and (max-width: 376px)
{
	.SMGLogoIMG
	{
		width:70%;
	}
}

.InputField
{
	margin-bottom: 10px;
}

@media only screen and (max-width: 376px)
{
	.InputField
	{
		width:50%;
	}
}

textarea
{
	margin-top: 10px;
	resize:none;
}

@media only screen and (max-width: 376px)
{
	textarea
	{
		width:90%;
	}
}

.Avatar
{
	width: 300px;
	height:300px;
	
	border-radius: 50%;
	border: 10px solid #985F6F;
}

@media only screen and (max-width: 376px)
{
.Avatar
{
	width: 200px;
	height: 200px;
}
}

.CopyRightFooter
{
	width:100%;
	height:50px;
	background-color: #985F6F;
}

.CopyRightFooterText
{
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

p
{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	width: 700px;
}

@media only screen and (max-width: 376px)
{
	p
	{
		width: 100%;
	}
}

table
{
	border:none;
	margin-left:auto;
	margin-right:auto;
	width: 376px;
	border-collapse: collapse;
}

@media only screen and (max-width: 376px)
{
	table
	{
		margin-left:auto;
		margin-right:auto;
		width: 220px;
	}
}

.tdRight
{
	vertical-align: text-top;
	padding-top: 20px;
	width: 50%; 
	text-align: right; 
	padding-right: 20px
}

@media only screen and (max-width: 376px)
{
	.tdRight
	{
		padding-top: 20px;
		display: inline-block;
		width: 100%; 
		text-align: center; 
		padding-right: 0px;
		padding-left: 0px;
	}
}

.tdLeft
{
	vertical-align: text-top;
	padding-top: 20px;
	width: 50%; 
	text-align: left; 
	padding-left: 20px
}

@media only screen and (max-width: 376px)
{
	.tdLeft
	{
		padding-top: 20px;
		display: inline-block;
		width: 100%; 
		text-align: center; 
		padding-right: 0px;
		padding-left: 0px;
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 376px)
{
	tr
	{
		border-bottom: 1px solid #A6B1E1;
	}
}